:root {
    --green: #81CD27;
    --red: #F2355B;
    --yellow: #FDBF30;
}

/*** FONTS ***/

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/*** TAGS ***/

a {
    text-decoration: none;
    display: inline-block;
}

body {
    line-height: 1.75;
    z-index: 0;
}

body > * {
    z-index: 2;
}

button {
    display: block;
    margin: 30px auto;
    padding: 20px 20px;
    border-radius: 40px;
    background-color: #75d8ff;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: normal;
    width: 200px;
    transition: all 0.3s ease;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active {
    color: white;
    transition: all 0.3s;
}

details {
    padding: 0;
    margin: 0;
}

details > *:not(summary, div) {
    padding: 0px 20px;
}

h1 {
    font-size: 40px;
    padding-top: 90px;
    margin: 22px 0px;
}

h2 {
    font-size: 32px;
    margin: 0px;
    padding: 10px 0px;
}

h3 {
    font-size: 24px;
    margin: 0px;
    padding: 10px 0px;
}

h4 {
    margin: 0px;
    padding: 10px 0px;
}

iframe {
    margin: 0;
}

label {
    font-weight: bold;
}

li {
    padding: 5px 5px 5px 20px;
}

main {
    padding: 0 50px 32px 50px;
    margin: 0 auto;
}

nav {
    right: 20px;
}

nav > * {
    margin-left: 12px;
}

section {
    margin: 0 auto;
}

select {
    margin: 10px 0;
}

small {
    font-size: 16px;
}

summary {
    list-style-position: outside;
    padding: 0px 20px;
    margin: 0px 40px;
}

summary:hover, img.card:hover:not(img.matched) {
    cursor: pointer;
}

summary::marker {
    font-size: 25px;
}

summary h4 {
    padding-left: 20px;
}

textarea {
    width: calc(100% - 30px);
    height: 200px;
    padding: 15px;
    margin: 10px 0;
    resize: vertical;
}

video, section.video iframe, section.slides iframe {
    display: block;
    width: 100%;
    height: 315px;
    margin: 30px auto;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    border: none;
    background: black;
    transition: all 0.3s;
}

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    width: 100%;
    overscroll-behavior: none;
    overflow-x: hidden;
}

body, h1, h2, h3, h4, p, a, button, input, select, textarea, b, i {
    font-family: 'Poppins', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, h1, h2, h3, h4, p, b, i {
    color: black;
}

button:hover, .dropdown:hover, .article:hover, video:hover, section.video iframe:hover, section.slides iframe:hover, img.card:hover:not(img.matched) {
    box-shadow: 2px 4px 3px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: 
        box-shadow 0.3s,
        transform 0.3s;
}

h1, h2, h3, button, p.center, small.center, p.btn {
    text-align: center;
}

h4, p, b, i, input, textarea, select, label, li {
    font-size: 20px;
}

input, select {
    width: 100%;
    padding: 8px;
    background-color: white;
}

input, select, textarea {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    border: 1px solid #dddddd;
    border-radius: 12px;
    color: black;
}

label, input {
    margin: 5px 0px;
}

ul, ol {
    margin: 0px;
}

/*** CLASSES ***/

button.inline {
    box-shadow: none;
    cursor: default;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0;
}

button.inline:hover {
    transform: none;
}

button.instructions {
    background: var(--yellow);
}

button.play {
    background: var(--green);
}

button.restart {
    background: var(--yellow);
    font-size: 16px;
    margin: 10px auto;
    padding: 10px 20px;
    width: 100px;
}

div.board {
    /* Shorthand order: row colummn */
    display: grid;
    grid-template: auto auto auto auto / auto auto auto auto;
    gap: 20px 20px;
    width: 600px;
    margin: auto;
}

div.board-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    margin: auto;
}

div.board-top > * {
    margin: 30px 10px;
}

div.board-top button {
    max-width: none;
}

div.btn {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.centered-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 20px;
}

div.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div.li img {
    padding-left: 15px;
}

iframe.full {
    width: 100vw;
    border: none;
    margin: 0;
    height: calc(100% - 160px);
}

iframe.lone {
    margin: 0px !important;
}

iframe.round {
    margin: 20px 0px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: calc(100vh - 250px);
    border: none;
    border-radius: 12px;
}

img.card {
    width: 100%;
    border-radius: 15%;
    transition:
        box-shadow 0.3s,
        transform 0.3s;
}

img.copy-icon {
    height: 20px !important;
}

img.external-icon {
    height: 15px !important;
}

img.inline {
    height: 30px;
    object-fit: contain;
}

img.inline.line-start {
    margin: 0 20px 0 0 !important;
}

img.inline.line-end {
    margin: 0 0 0 20px !important;
}

img.inline.text {
    margin: 5px 0px !important;
    padding: 0 !important;
}

img.title {
    display: block;
    margin: 30px auto 0px auto;
}

p.btn {
    color: black;
    padding: 0;
    margin: 0;
}

p.time-left {
    color: var(--red);
}

p.time-left, p.pairs-found {
    font-weight: bold;
}

small img.inline, button.inline img {
    height: 24px;
}

.two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.two-column div.btns {
    width: 300px;
}

.two-column div.text {
    width: 500px !important;
}

.two-column img:not(button img, div.li img) {
    width: 300px;
    display: block;
    margin: 0;
    padding: 30px 20px;
}

.two-column div.text, .two-column div.btns, .two-column img:not(button img), button, img.title, div.board-top, div.board {
    max-width: calc(100% - 100px);
}

.dropdown {
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
    margin: 0px 5px !important;
    vertical-align: middle;
}

/*** IDS ***/

#bkgd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#nav-logo {
    left: 20px;
}

#nav-logo img {
    height: 50px;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 1019px) {
    main {
        padding: 0 20px 32px 20px;
    }
    .two-column {
        gap: 0px;
        flex-direction: column;
    }
    .two-column div.text, .two-column div.btns, .two-column img:not(button img), button, img.title, div.board-top, div.board {
        max-width: calc(100% - 40px);
    }
}